{% extends 'base.html.twig' %}

{% block title %} Erreur de paiement -La Boutique Française{% endblock %}

{% block content %}
    <h2>Erreur de payement</h2>
    <p>
        Bonjour <strong>{{order.user.firstname}} {{order.user.lastname}}</strong>,<br><br>
        Il semblerait que votre payement est échoué pour votre commande<strong>{{order.reference}}.</strong> <br>
        Une confirmation d'erreur vient de vous être envoyer par email à l'adresse <strong>{{order.user.email}}</strong>.
        <hr>
        <a href="{{path('app_order')}}" class="btn btn-success">Réessayer le payement</a>
    </p>
{% endblock %}