{% extends 'base.html.twig' %}

{% block title %}Payement de ma commande - La boutique Française{% endblock %}

{% block content %}

    <h2>Mon récaputilatif</h2>
    <p>Vérifier vos informations avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison</strong> <br>
            <div class="form-check mt-4">
                {{delivery|raw}}
            </div>
            <hr>
            <div class="form-check">
                <strong>Mon transporteur</strong><br>
                {{carrier.name}} <br>
                {{carrier.description}} <br>
                {{(carrier.price/100)|number_format(2,',','.') }} MGA
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b><br>
            </div>
            <div class="order-summury">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %} mt-2 {% endif %}">
                        <div class="col-2">
                            <img src="/uploads/images/{{product.product.illustration}}" alt="{{product.product.illustration}}" height="75px">
                        </div>
                        <div class="col-8 my-auto">
                            {{product.product.name}} <br>
                            <small>
                                {{product.product.subtitle}}
                                    <br>
                                x {{product.quantity}}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{((product.product.price*product.quantity)/100)|number_format(2,',','.')}}MGA
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous-total</strong> : {{(total/100)|number_format(2,',','.')}}MGA<br>
            <strong>Livraison</strong> : {{(carrier.price/100)|number_format(2,',','.')}}MGA
            <hr>
            <strong>Total : </strong> {{((total/100) +(carrier.price/100))|number_format(2,',','.')}}MGA
            <input type="hidden" id="ref_com" value="{{reference}}">
            <a class="btn btn-success btn-block mt-3" id="checkout-button">Payer | {{((total/100) +(carrier.price/100))|number_format(2,',','.')}} MGA</a>
        </div>
    </div>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe("pk_test_51PKaum00oR3Ppa2ItUMPnrvO1katTmvYGMB3bWaPtT2z1VnumfDhDcTTMeCWseRsV8l2vLSdxzEsVQzYAhF1hhUP00ETezqvNA");
    
        // Utilisez la méthode redirectToCheckout pour créer et rediriger vers la session de paiement
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function () {
            fetch("/order/create-session/{{reference}}", {
                method: "POST",
            })
            .then(function(response){
                return response.json();
            })
            .then(function(session){
                if (session.error == 'order') {
                    window.location.replace("{{ path('app_order')}}");
                } else {
                    return stripe.redirectToCheckout({ sessionId: session.id });
                }
            })
            .then(function(result){
                if (result.error) {
                    // Gérez l'erreur, par exemple en affichant un message à l'utilisateur
                    alert(result.error.message);
                }
            })
            .catch(function (error){
                console.error("Error:", error);
            });
        });
    </script>
    
{% endblock %}